NEXTAUTH_URL=
NEXTAUTH_SECRET=

NEXT_PUBLIC_API_HOST=
NEXT_PUBLIC_AUTH_TOKEN_KEY=

KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ISSUER=
KEYCLOAK_ADMIN_URL=

END_SESSION_URL=${KEYCLOAK_ISSUER}/protocol/openid-connect/logout
REFRESH_TOKEN_URL=${KEYCLOAK_ISSUER}/protocol/openid-connect/token

CHECKOUT_API=